.parallaxHeader {
  $main-color: orange;

  background-color: lighten($main-color, 0%);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  
  &__layer {
    background: linear-gradient(lighten($main-color, 15%), lighten($main-color, 13%));
    position: absolute;
    bottom: 0;

    height: 450px;
    width: 600px;
    
    &--two {
      background: linear-gradient(lighten($main-color, 30%), lighten($main-color, 28%));
      height: 250px;
      width: 700px;
    }
    
    &--three {
      box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2);
      background: linear-gradient(lighten($main-color, 42%), lighten($main-color, 40%));
      height: 150px;
      width: 200px;
    }
  }
}