
@color-brand-standard: #ffc705;
@color-brand-gradient: darken(@color-brand-standard, 5%);

.header {
    background-color: @color-brand-standard;
    background: linear-gradient(90deg, @color-brand-gradient, @color-brand-standard, @color-brand-gradient);
}

.container {
    // background-color: orange;

    // &-fluid {
    //     background-color: pink;
    // }

    // .aze {
    //     background-color: lime;
    // }
}