.parallax {
  $main-color: orange;

  background-color: lighten($main-color, 30%);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 300px;

  &__layer {
    background-color: lighten($main-color, 20%);
    position: absolute;
    height: 100%;
    width: 100%;

    &--two {
      background-color: lighten($main-color, 10%);
    }

    &--three {
      background-color: lighten($main-color, 0%);
    }
  }
}