.parallax {
  $main-color: blue;

  background-color: lighten($main-color, 0%);
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  height: 400px;

  &__layer {
    background-color: lighten($main-color, 15%);
    position: absolute;
    bottom: 0;

    height: 300px;
    width: 400px;
    
    &--two {
      background-color: lighten($main-color, 30%);
      
      height: 200px;
      width: 300px;
    }
    
    &--three {
      box-shadow: 0 24px 38px 3px rgba(0,0,0,.14), 0 9px 46px 8px rgba(0,0,0,.12), 0 11px 15px -7px rgba(0,0,0,.2);
      background-color: lighten($main-color, 45%);

      height: 100px;
      width: 200px;
    }
  }
}