@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: Roboto, sans-serif;
}

.navbar-gutter {
  margin: 10px 0;
}

.parallax {
  background-color: lime;
  padding: 10px;
}